/* id's styles */
    #certificaciones {
        background-image: url("../img/fondos/certificaciones.jpg");
    }
    #servicios {
        background-image: url("../img/fondos/servicio.jpg");
    }
    #clientes {
        background-image: url("../img/fondos/clientes.jpg");
    }
    #contacto {
        background-image: url("../img/fondos/contacto.jpg");
    }
    #slide-proc {
        width: 50%;
    }
/* general styles */
    .blue, li.checked {
        background-color: #33357B;
    }
    .font-blue {
        color: #33357B;
    }
    .block-hide {
        position: absolute;
        width: 100%;
        bottom: 100%;
    }
    .section {
        background-color: rgba(18, 155, 91, 0.79);
    }
    .display-5 {
        font-size: 2.35rem;
        font-weight: 1;
    }
    .fondo {
        background-image: url("../img/fondos/fondo.png");
        background-repeat: repeat;
        background-size: auto;
    }
    .attachment {
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: 0% 100% !important;
        background-attachment: fixed;
    }
    ul.check {
        list-style-image: url('../img/icons/check.png');
    }
    ul.check-blue {
        list-style-image: url('../img/icons/check-blue.png');
    }
    .h-13 {
        height: 13%!important;
    }
    .h-87 {
        height: 87%!important;
    }
    .h-20 {
        height: 20%!important;
    }
    .h-80 {
        height: 80%!important;
    }
/* home styles */
    .slider {
        height: 630px !important;
        width: 100%;
    }
    .title {
        font-size: 2rem;
    }
    .field-blue{
        background-color: #33357B;
        opacity: 0.8;
    }
    .responsive-font {
        font-size: 0.9rem;
    }
    .top {
        top: 5%;
    }
    div.carousel-item {
        padding-top: 100px;
    }
/* servicios styles */
    .close {
        z-index: 3;
    }
    .border-blue {
        border: 3px solid #33357B;
    }
/* certificaciones styles */
    .h-90{ 
        height: auto;
        width: 65%;
    }
/* clientes styles */
    .clientes {
        width: 75%;
        height: auto;
    }
/* contacto styles */
    .form-control, .btn-default {
        border: 1px solid;
        box-shadow: 3px 4px #888888;
    }
    .square-contacto {
        width: 100%;
        height: 100%;
        top: 0;
        padding-top: 20%;
        background-color: white;
        z-index: 3;
    }  
/* footer styles */
    .footer-right {
        text-align: right;
    }
    .footer-left {
        text-align: left;
    }