/* Super small devices (portrait phones, less than 576px) */
@media (max-width: 439.98px) {
    .buttons-menu{
        padding: 1% 5%;
    }
    #proccyt-slide{
        width: 100px;
        height: 100px;
    }
    #slide-proc{
        width: 100%;
    }
    .display-5{
        font-size: 25px;
    }
    .title{
        font-size: 1.3rem;
    }
    .footer-left, .footer-right{
        text-align: center;
    }
    .square{
        width: 100%;
        height: 50%;
    }
    .logos-serv{
        width: 80%;
    }
    .ul-services{
        padding-top: 7%;
        width: 100%;
        text-align: center;
    }
    .img-service{
        width: 100%;
        height: 100%;
    }
    .font-responsive{
        font-size: 12px;
    }
    .square-left{
        top: 0;
    }
    .residuos-text, .residuos-img {
        width: 100%;
        height: 100%;
    }
    .residuo-icon{
        width: 30%;
        height: auto;
    }
    .square-contacto>.h1{
        font-size: 20px;
    }
    .logo-perez{
        width: 80px;
        height: auto;
    }
}
/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 440px) and (max-width: 575.98px) {
    .buttons-menu{
        padding: 1% 5%;
    }
    .title{
        font-size: 1.5rem;
    }
    .display-5{
        font-size: 30px;
    }
    #slide-proc{
        width: 100%;
    }
    #proccyt-slide{
        width: 150px;
        height: 150px;
    }
    .footer-left, .footer-right{
        text-align: center;
    }
    .square{
        width: 100%;
        height: 50%;
    }
    .logos-serv{
        width: 60%;
    }
    .ul-services{
        padding-top: 7%;
        width: 100%;
        text-align: center;
    }
    .img-service{
        width: 100%;
        height: 100%;
    }
    .font-responsive{
        font-size: 15px;
    }
    .square-left{
        top: 0;
    }
    .residuos-text, .residuos-img {
        width: 100%;
        height: 100%;
    }
    .residuo-icon{
        width: 30%;
        height: auto;
    }
    .logo-perez{
        width: 90px;
        height: auto;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .title{
        font-size: 2rem;
    }
    #slide-proc, #proccyt-slide{
        width: 70%;
    }
    .square{
        width: 100%;
        height: 50%;
    }
    .logos-serv{
        width: 50%;
    }
    .ul-services{
        padding-top: 7%;
        width: 50%;
    }
    .img-service{
        width: 50%;
        height: 100%;
    }
    .cursor {
        margin-left: 10%;
    }
    .font-responsive{
        font-size: 15px;
    }
    .residuo-icon{
        width: 40%;
        height: auto;
    }
    .responsive-font{
        font-size: 0.5rem;
        padding-top: 0%;
    }
    .logo-perez{
        width: 100px;
        height: auto;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .title{
        font-size: 2rem;
    }
    #slide-proc{
        width: 65%;
    }
    #proccyt-slide{
        width:70%;
    }
    .square{
        width: 100%;
    }
    .logos-serv{
        width: 70%;
    }
    .ul-services{
        padding-top: 5%;
    }
    .cursor {
        margin-left: 20%;
    }
    .font-responsive{
        font-size: 15px;
    }
    .residuo-icon{
        width: 30%;
        height: auto;
    }
    .responsive-font{
        font-size: 0.7rem;
        padding-top: 0%;
    }
    .logo-perez{
        width: 115px;
        height: auto;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .title{
        font-size: 2rem;
    }
    #slide-proc{
        width: 50%;
    }
    #proccyt-slide{
        width:50%;
    }
    .logos-serv{
        width: 60%;
    }
    .cursor {
        margin-left: 15%;
    }
    .font-responsive{
        font-size: 14px;
    }
    .residuo-icon{
        width: 40%;
        height: auto;
    }
    .responsive-font{
        font-size: 0.85rem;
        padding-top: 6%;
    }
    .logo-perez{
        width: 118px;
        height: auto;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .title{
        font-size: 2rem;
    }
    #proccyt-slide{
        width: 50%;
    }
    #slide-proc{
        width: 50%;
    }
    .cursor {
        margin-left: 20%;
    }
    .font-responsive{
        font-size: 15px;
    }
    .residuo-icon{
        width: 40%;
        height: auto;
    }
    .logo-perez{
        width: 120px;
        height: auto;
    }
}