/* id's styles */

#certificaciones {
    background-image: url("/images/fondos/certificaciones.jpg")!important;
    height: 100%;
}

#servicios {
    background-image: url("/images/fondos/servicio.jpg")!important;
    height: 100%;
}

#clientes {
    background-image: url("/images/fondos/clientes.jpg")!important;
    height: 100%;
    z-index: 2;
}

#contacto {
    background-image: url("/images/fondos/contacto.jpg")!important;
    height: 100%;
    z-index: 2;
}


/* general styles */

.blue,
li.checked {
    background-color: #33357B;
}

.font-blue {
    color: #33357B;
}

.block-hide {
    position: absolute;
    width: 100%;
    bottom: 100%;
}

.section {
    background-color: rgba(18, 155, 91, 0.79);
}

.display-5 {
    font-size: 2.35rem;
    font-weight: 1;
}

.fondo {
    background-image: url("/images/fondos/fondo.png");
    background-repeat: repeat;
    background-size: auto;
}

.attachment {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

ul.check {
    list-style-image: url('/images/icons/check.png');
}

ul.check-blue {
    list-style-image: url('/images/icons/check-blue.png');
}

.h-13 {
    height: 13%!important;
}

.h-87 {
    height: 87%!important;
}

.h-20 {
    height: 20%!important;
}

.h-80 {
    height: 80%!important;
}


/* home styles */

.slider {
    height: 630px!important;
    width: 100%;
}

.title {
    font-size: 2rem;
}

.field-blue {
    background-color: #33357B;
    opacity: 0.8;
    z-index: 3;
    top: 0;
    width: 25%;
}

.responsive-font {
    font-size: 0.9rem;
}

a.h-100 {
    color: white;
}

.submenu:hover {
    color: #33357B!important;
    background-color: white;
}

.submenu {
    padding-top: 2em;
}

.tab-content {
    z-index: 4!important;
    left: 0;
}

#mision-box {
    left: 25%;
}

#vision-box {
    left: 50%;
}

#valores-box {
    left: 75%;
}


/* servicios styles */

.close {
    z-index: 3;
}

.border-blue {
    border: 3px solid #33357B;
}

.flotilla-slide {
    width: 70%;
}


/* certificaciones styles */

.h-90 {
    height: auto;
    width: 65%;
}


/* clientes styles */

.clientes {
    width: 75%;
    height: auto;
}


/* contacto styles */

.form-control,
.btn-default {
    border: 1px solid;
    box-shadow: 3px 4px #888888;
}

.square-contacto {
    width: 100%;
    height: 100%;
    top: 0;
    padding-top: 20%;
    background-color: white;
    z-index: 4;
}


/* footer styles */

.footer-right {
    text-align: right;
}

.footer-left {
    text-align: left;
}

.modal-body {
    overflow-wrap: break-word;
}